*{
    margin: 0;
    padding: 0;
}


header div img{
    float: left;
    width: 10%;
}

main img{
    margin: auto; 
    display: block;
}

body{
    background: #e6e6e6;
}

body header p{
    padding: 40px 0px;
    text-align: center;
    color: #e6e6e6;
    background-color: rgb(0, 0, 0);
    font-size: 175%;
    font-weight: bold;
}

header, main, footer{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}


main .articles{
    width: 78.5%;
    margin-left: 1.5%;
    float: right;
}

main .articles article{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

aside{
    width: 20%;
    float: inline-start;
    background: #0077ff;
    padding: 10px ;
    box-sizing: border-box;
    margin-bottom: 20px;
}

aside nav {
    background: #528FD5;
    overflow: hidden;
}

aside nav ul{
    list-style: none;
}


aside nav ul li a{
    padding: 20px 20px;
    display: block;
    color: #fff;
    text-decoration:none;
    text-align: center;
}

aside nav ul li a:hover{
    background: #75ACEC;
}

footer{
    width: 90%;
    background: #000;
    text-align: right;
    color: #fff;
    clear:both
}

footer p{
    margin-right: 1.5%;
    padding: 15px;
}
/* ------------ API1 ------------ */

main .parte1, .parte2, .parte3{
    width: 25%;
    margin-left: 1.66%;
    float: right;
}

main .parte1 article, .parte2 article, .parte3 article{
    padding: 20px;
    background: #fff;
    height: 70px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold
}

#hora, #temperatura{
    font-size: 25px;
}


/* ------------ API2 ------------ */
main .parte4, .parte5{
    width: 78.5%;
    margin-left: 1.5%;
    float: right;
}

main .parte4 article{
    background: #0077ff;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold
}

table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
    background: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold
}

table td{
    border: 1px solid #000;
    padding: 20px;
    width: 120px;
    height: 30px;
}

/* ------------ estilos ------------ */

.css1{
    text-shadow: 2px 2px 2px saddlebrown;
}
.css2{
    text-shadow: 4px 4px 4px crimson;
}
.css3{
    text-shadow: 6px 6px 6px seagreen;
}
